Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-framebuf==1.6.6
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-ssd1306==2.12.18
adafruit-circuitpython-typing==1.11.1
Adafruit-DHT==1.4.0
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aiohttp-retry==2.8.3
aiosignal==1.3.1
arrow==1.3.0
async-timeout==5.0.1
attrs==24.2.0
binho-host-adapter==0.1.6
blinker==1.8.2
bme280==0.7
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
decorator==5.1.1
fastjsonschema==2.20.0
Flask==3.0.3
frozenlist==1.5.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
httplib2==0.22.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
ischedule==1.2.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
MarkupSafe==2.1.5
multidict==6.1.0
nbformat==5.10.4
oauth2client==4.1.3
oauthlib==3.2.2
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==3.10.0
propcache==0.2.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyftdi==0.55.4
PyJWT==2.9.0
pyparsing==3.1.4
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pyusb==1.2.1
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rpds-py==0.20.1
RPi.bme280==0.2.4
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
rsa==4.9
six==1.16.0
smbus2==0.5.0
sysv_ipc==1.1.0
traitlets==5.14.3
twilio==9.3.7
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
urllib3==2.2.3
uWSGI==2.0.27
Werkzeug==3.0.5
yarl==1.15.2
zipp==3.20.2
